<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project components (Header, navbar, footer)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}" type="image/png" />
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-dark bg-dark" style="background-color: #212529!important;" >
    <div class="container-fluid">
        <span class="mb-0 h1">JURLY: URL Shortener <span class="orange">Java </span> <span class="green">Spring</span> + <span class="darkergreen">MongoDB</span> + <span class="green">Thymeleaf</span> + <span class="purple">Heroku</span></span>
        <hr>
        <div class="menu text-center">
            <span class="mb-0 h2 " ><a th:href="@{/}" style="color: orange!important;">Homepage</a> |
            <a th:href="@{/ad/new_ad}" style="color: orange!important;">Add ads</a> |
            <a th:href="@{/api/v1/url/all}" style="color: orange!important;">API</a> |
            <a th:href="@{/error404}" style="color: orange!important;">Soon ...</a></span>
        </div>
    </div>
    <!--
    <a th:href="@{/}">Homepage</a>
    <a th:href="@{/addad}">Add ads</a>
    <a th:href="@{/manageads}">Manage ads</a>
    <a th:href="@{/error404}">SOON</a>
    -->
</nav>
<footer class="bg-dark text-white text-center text-lg-start" th:fragment="footer" style="background-color: #212529!important; text-align: left!important;" >
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">JURLY</h5>
                <p>
                    Jurly is a url shortener developed with Java. It's user friendly and you can customize urls without registering.
                    <br>
                    <img src='../../static/images/angular.png' th:src="@{/images/angular.png}">
                    <img src='../../static/images/heroku.png' th:src="@{/images/heroku.png}">
                    <img src='../../static/images/mongodb.png' th:src="@{/images/mongodb.png}">
                    <img src='../../static/images/spring.png' th:src="@{/images/spring.png}">
                    <img src='../../static/images/bootstrap.png' th:src="@{/images/bootstrap.png}">
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="font-weight: 500; font-size:1.25rem">
                <h5 class="text-uppercase">Resources</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.youtube.com/channel/UCwFI7epHgTBY477PnA_2AqA/videos" class="text-white">Youtube</a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/rionacko" class="text-white">Twitch</a>
                    </li>
                    <li>
                        <a href="http://paypal.me/apesteguia" class="text-white">PayPal</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/q4Nwm6Uphe" class="text-white">Discord Community</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Special thanks to</h5>

                <ul class="list-unstyled">
                    <li>
                        <span>- Eduardo Zapata</span>
                    </li>
                    <li>
                        <span>- Juan Gines</span>
                    </li>
                    <li>
                        <span>- Sly Felipa</span>
                    </li>
                    <li>
                        <span>- Daniel Forteza</span>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="#">Daniel Apesteguia Timoner tutored by Juan Miguel Ramón Tur</a>
    </div>
    <!-- Copyright -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</footer>
</body>