<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ads</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet" />
</head>
<body>
<h1>AD Registration</h1>
<form action="#" th:action="@{/addad}" method="post" th:object="${shortUrl}">

</form>

</body>
</html>