<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ads</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet" />
</head>
<body>
<div th:insert="fragments/components.html :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form method="post" action="#"
                  th:action="@{/addad}" th:object="${advertisement}">
                <h1>Jurly - Add an advertisement</h1>
                <div class="form-group">
                    <label for="adName">Ad name</label> <input type="text"
                                                              class="form-control" id="adName" placeholder="Ad name"
                                                              th:field="*{adName}" th:required="required"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description"
                              placeholder="Description" rows="3" th:field="*{adDescription}" th:required="required"></textarea>
                <div class="form-group">
                    <label for="image">Image link</label> <input type="url"
                                                                        class="form-control" id="image" placeholder="http://... .jpg"
                                                                        th:field="*{adImageLink}" th:required="required">
                </div>
                    <div class="form-group">
                        <label for="adDestination">Destination link</label> <input type="text"
                                                                   class="form-control" id="adDestination" placeholder="http://..."
                                                                   th:field="*{adDestination}" th:required="required" />
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/components.html :: footer"></div>
</body>
</html>