<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet" />
    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}" type="image/png" />
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var destinationUrl = [[${url}]];
        var timeLeft = 5;
        var downloadTimer = setInterval(function(){
            document.getElementById("countdowntimer").textContent = timeLeft;
            if(timeLeft <= 0)
                clearInterval(downloadTimer);
                window.location.replace(destinationUrl);
            timeLeft--;
            },5000);
        /*]]>*/
    </script>
</head>
<body>
<div th:insert="fragments/components.html :: nav"></div>
<p class="center-block bg-warning" style="background-color: #f35a5a; margin-top: -20px; margin-bottom: -1px; text-align: center"> The redirect will begin in <span id="countdowntimer">5 </span> Seconds</p>
<h1 th:text="${advertisement.adName}">Name of the ad</h1>
<p th:text="${advertisement.adDescription}">Description of the ad</p>
<a th:href="${advertisement.adDestination}" href="https://www.google.com" >
<img th:src="${advertisement.adImageLink}" src="../static/images/error-404.jpg"/>
    <div th:insert="fragments/components.html :: footer"></div>
</a>
</body>
</html>