<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet" />
    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}" type="image/png" />

</head>
<body>
<div th:insert="fragments/components.html :: nav"></div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form method="post" action="#"
              th:action="@{/addurl}" th:object="${shortUrl}">
            <h1>Create a short url</h1>
            <p th:if="${newLink != null}" style="background-color:lawngreen;padding:5px; color: black ">Url created succesfully! Your new url link is: <a th:href="${newLink}" ><span th:text="${newLink}"></span></a></p>
            <div class="form-group">
                <label for="urlDestination">Url to shorten</label>
                <input type="text" class="form-control" id="urlDestination" placeholder="https://www.google.com/?this_url_is_way_too_long"
                                                           th:field="*{urlDestination}" th:required="required"/>
            </div>
            <div class="form-group">
                <label for="urlCreator">Creator of the url (Future update, customize)</label>
                <input type="text" class="form-control" id="urlCreator" placeholder="Dani Apesteguia" th:field="*{urlCreator}" th:required="required" pattern="[a-zA-Z0-9\s]+"/>
            </div>
                <div class="form-group">
                <label for="urlCustomized">Customize url link</label>
                <input type="text" class="form-control" id="urlCustomized" placeholder="peter" th:field="*{urlCustomized}" th:required="false" pattern="[a-zA-Z0-9\s]+">
                </div>
                <div class="form-group">
                    <label for="hasAds">Url has ads</label>
                <input type="checkbox" class="form-control" id="hasAds" th:field="*{hasAds}" th:required="false" />
                </div>
                <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

<div class="container" style="width: 50%">
    <div th:if="${not #lists.isEmpty(links)}">
        <h2>Last 10 Links Created</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Shortened url</th>
                <th>Url destination</th>
                <th>Has ads</th>
                <th>Creator</th>
                <th>Creation date</th>
                <th>Custom link</th>
            </tr>
            <tr th:each="link : ${links}">
                <td th:text="${link._id}"></td>
                <td><a th:href="${link.getUrl8Chars()}" th:text="${link.getUrl8Chars()}"></a></td>
                <td th:text="${link.urlDestination}"></td>
                <td th:text="${link.hasAds}"></td>
                <td th:text="${link.urlCreator}"></td>
                <td th:text="${link.creationDate}"></td>
                <td th:text="${link.urlCustomized}"></td>
            </tr>
            </table>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        th:src="@{/../static/js/jquery-3.3.1.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/../static/js/bootstrap.min.js}"></script>
<div th:insert="fragments/components.html :: footer"></div>
</body>
</html>